In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import seaborn as sns

In [2]:
# iterate through API requests. Records are stored in 'collected_data'
# this cell takes approximately 5 minutes to run

collected_data = []

for i in range(1,500,1):
    request_string = "https://api.themoviedb.org/3/discover/movie?api_key=afc7201593c1f2fc08c24eec64fabc88&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&primary_release_date.lte=2019-12-30&primary_release_date.gte=2000-01-01&page="+str(i)
    data = requests.get(request_string)
    data = data.json()['results']
    for item in data:
        collected_data.append(item)

In [3]:
#load data into dataframe
df = pd.DataFrame(collected_data)

In [4]:
df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/wFN8llYh215M8i2fqWAcPV8CSyL.jpg,"[28, 12, 16, 35, 10751, 14]",49519,en,The Croods,The prehistoric Croods family live in a partic...,373.299,/27zvjVOtOi5ped1HSlJKNsKXkFH.jpg,2013-03-20,The Croods,False,6.9,5021
1,False,/9guoVF7zayiiUq5ulKQpt375VIy.jpg,"[16, 28, 35, 14, 12]",592350,ja,僕のヒーローアカデミア THE MOVIE ヒーローズ：ライジング,Class 1-A visits Nabu Island where they finall...,332.804,/zGVbrulkupqpbwgiNedkJPyQum4.jpg,2019-12-20,My Hero Academia: Heroes Rising,False,8.5,525
2,False,/6iUNJZymJBMXXriQyFZfLAKnjO6.jpg,"[28, 12, 14]",297762,en,Wonder Woman,An Amazon princess comes to the world of Man i...,318.625,/gfJGlDaHuWimErCr5Ql0I8x9QSy.jpg,2017-05-30,Wonder Woman,False,7.3,15558
3,False,None,[],749336,en,Star Wars: Wrath of the Mandalorian,"Years after the Clone Wars end, Darth Vader se...",248.752,/ksil1FjB7AfNk34LAti0636pyTd.jpg,2008-07-06,Star Wars: Wrath of the Mandalorian,False,7.4,15
4,False,/4dtbvoAaqiM3fVwzdffLxUdAiY6.jpg,"[10751, 35, 14]",8871,en,How the Grinch Stole Christmas,Inside a snowflake exists the magical land of ...,234.077,/1WZbbPApEivA421gCOluuzMMKCk.jpg,2000-11-17,How the Grinch Stole Christmas,False,6.7,4915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,False,/3VTif2JwpBPKdrQnIdTbbs1Fxau.jpg,"[14, 878, 10751, 10770]",68591,en,Snowglobe,A young woman discovers a Christmas-themed dre...,7.295,/8MCX4KlF8O3cdoSiX1jiUsyVXMp.jpg,2007-12-15,Snowglobe,False,6.2,38
9976,False,/p8oxdizsjwFmEmI70gkBPe3XpwU.jpg,"[10749, 10770, 35]",474979,en,Royal New Year's Eve,An aspiring fashion designer falls in love wit...,7.294,/rWwWwJb9F32xsLQ382Qd0e0hsML.jpg,2017-12-30,Royal New Year's Eve,False,6.2,53
9977,False,None,[16],284866,en,Sonic Prologue,Take a step back in time as Sonic the Hedgehog...,7.294,/h4Pl9047A2sX97DLruAy5DbXgqj.jpg,2014-08-02,Sonic Prologue,False,8.9,4
9978,False,/gHUDHuwEOnHrMihVB0oW8TCnBGF.jpg,"[35, 99]",473812,en,Jerry Before Seinfeld,Jerry Seinfeld returns to the club that gave h...,7.293,/1HsldceVUztgRztwp3pOaVRJVlp.jpg,2017-09-19,Jerry Before Seinfeld,False,6.9,77
9979,False,/4NMit7ynHRepDYfgNSX4VU3pQU1.jpg,"[35, 18]",358725,fr,Saint Amour,"Every year, Bruno makes a tour of all the wine...",7.293,/A9wTBWnx6nKitul3vjKHrRKjWRk.jpg,2016-03-02,Saint Amour,False,5.9,111

In [5]:
# The 'discover' API is missing budget, revenue, imdb_id, and runtime
# these can be pulled from the 'movie' API call. this cell prepares for the next for loop to pull this required data
budget = []
imdb_id = []
revenue = []
runtime = []
production_companies = []
production_countries = []
genres = []

In [6]:
#create a list of tmdb-movie-ids to iterate through. each id will be used in its own API call
#for each movie_id defined above, call API to to retrieve budget, revenue, imdb_id, runtime.
#tmdb data structure isn't uniform. movie dictionaries do not necessarily have all keys.
#to get around this, we used try/except
#this cell takes about 30 minutes to run
movie_ids = list(df['id'])
for movie_id in movie_ids:
    request_string = "https://api.themoviedb.org/3/movie/"+str(movie_id)+"?api_key=afc7201593c1f2fc08c24eec64fabc88&language=en-US"
    data = requests.get(request_string)
    data = data.json()
    try:
        budget.append(data['budget'])
    except:
        budget.append(" ")
    try:
        imdb_id.append(data['imdb_id'])
    except:
        imdb_id.append(" ")
    try:
        revenue.append(data['revenue'])
    except:
        revenue.append(" ")
    try:
        runtime.append(data['runtime'])
    except:
        runtime.append(" ")
    try:
        production_companies.append(data['production_companies'])
    except:
        production_companies.append(" ")
    try:
        production_countries.append(data['production_countries'])
    except:
        production_countries.append(" ")
    try:
        genres.append(data['genres'])
    except:
        genres.append(" ")

In [7]:
# Finally append the new columns to the final DataFrame
df['budget']=budget
df['imdb_id']=imdb_id
df['runtime']= runtime 
df['production_companies']=production_companies
df['production_countries']=production_companies
df['genres']=genres
df['revenue']=revenue

In [8]:
#save raw API results to csv
df.to_csv('tmdb_raw.csv',index=False)